@charset "utf-8";
/* 公共样式 */

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

b, strong, em, i {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.f_left {
    float: left;
}

.f_right {
    float: right;
}

.clearfix::after {
    content: "";
    line-height: 0;
    height: 0;
    display: block;
    clear: both;
}

img {
    /* 图片块元素 margin */
    display: block;
    /* 去掉ie浏览器的边框 */
    border: 0;
}

input,textarea,button {
    outline: none;
    border: 0; 
}

ul li, ol li {
    list-style: none;
}

table {
    border: 0;
    border-collapse: collapse;
}

.font_size_12 {
    font-size: 12px;
}

.font_size_14 {
    font-size: 14px;
}



